{% extends 'surveys/base.html' %}

{% block content %}
<div class="section">
    <div class="container">
        <h1>Регистрация</h1>
    </div>
</div>
<form action="" method="post">
    <div class="container content-container container_auth">
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="main__notification main__notification_error">
            <i class="icon-alert-triangle"></i> {{field.label}}: {{error}}
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}
        <form action="" method="post" class="form form_auth">
            {% csrf_token %}
            <div class="inputgroup">
                <label for="">{{form.last_name.label}}*</label>
                {{form.last_name}}
            </div>
            <div class="inputgroup">
                <label for="">{{form.first_name.label}}*</label>
                {{form.first_name}}
            </div>
            <div class="inputgroup inputgroup_icon" id="email-input-group">
                <label for="">{{form.email.label}}*</label>
                {{form.email}}
                <i class="icon-mail"></i>
            </div>
            <div class="inputgroup inputgroup_icon">
               <label for="">{{form.password1.label}}*</label>
                {{form.password1}}
                <i class="icon-lock"></i>
            </div>
            <div class="inputgroup inputgroup_icon">
                <label for="">{{form.password2.label}}*</label>
                {{form.password2}}
                <i class="icon-lock"></i>
            </div>
            <div class="inputgroup">
                <p>* Отмеченные поля, обязательные для заполнения</p>
            </div>
            <div class="inputgroup">
                <button class="btn" type="submit">
                    <i class="icon-edit"></i> Зарегистрироваться
                </button>
            </div>
            
        </form>
    </div>
</form>
{% endblock %}