@font-face {
    font-family: 'ubuntu';
    font-weight: normal;
    src:  url("../fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'ubuntu';
    font-weight: bold;
    src: url("../fonts/Rubik-Bold.ttf") format("truetype");
}


body {
    font-family: 'ubuntu';
    font-size: 16px;
    margin: 0;
    color: #22222e;
    min-height: 100vh;
    background-color: #fefefe;
}

* {
    box-sizing: border-box;
}

a {
    color: #006699 !important;
    text-decoration: none !important;
}

i {
    font-size: 0.86em;
    color: #006699;
}

.hi {
    color: #006699;
}

input, select {
    width: 100%;
    font-family: 'ubuntu';
}

.btn {
    display: inline-block;
    padding: 14px 18px;
    border-radius: 10px;
    background: #006699;
    color: #fefefe !important;
    outline: none !important;
    font-family: 'ubuntu' !important;
    border: none !important;
    cursor: pointer;
    transition: all 0.1s ease;
    font-size: 1em;
}

.btn i {
    color: #fff !important;
}

.btn:hover {
    background-color: #3e4296;
}

.btn_alt {
    background-color: #f9f9f9;
    color: #22222e !important;
}

.btn_alt i {
    color: #006699 !important;
}

.btn_alt:hover {
    background-color: #f1f1f1;
}

.btnwrapper {
    margin: 0 -5px;
    display: flex;
    flex-flow: row nowrap;
}

.btnwrapper_center {
    justify-content: center;
}

.btnwrapper .btn {
    margin: 5px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 40px;
}

.container_auth {
    width: 800px;
    margin: 0 auto;
    padding: 0 40px
}

.section {
    padding: 20px 0;
}

.section__header h1, .section__header h2, .section__header p {
    margin: 5px 0;
}

.content {
    padding: 40px 0;
}


/* Inputs */

input {
    width: 100%;
    background: #fff;
    outline: none !important;
    border: none !important;
    padding: 15px 18px;
    border-radius: 10px;
    box-shadow: 0 4px 24px rgb(85 118 202 / 10%);
    font-family: 'ubuntu';
}

textarea {
    width: 100%;
    background: #fff;
    outline: none !important;
    border: none !important;
    padding: 15px 18px;
    resize: none;
    border-radius: 10px;
    box-shadow: 0 4px 24px rgb(85 118 202 / 10%);
    font-family: 'ubuntu';
}

input::placeholder, textarea::placeholder {
    font-family: 'ubuntu';
    color: rgb(130, 140, 155);
}

label {
    display: block;
    margin: 7px 0;
}

.chosen-container {
    width: 100% !important;
}

.chosen-choices {
    background: #fff !important;
    outline: none !important;
    border: none !important;
    padding: 9px 15px !important;
    font-family: 'ubuntu' !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 24px rgb(85 118 202 / 10%) !important;
}

.chosen-single {
    background: #fff !important;
    outline: none !important;
    border: none !important;
    padding: 10.7px 15px !important;
    font-family: 'ubuntu' !important;
    color: #22222e !important;
    height: auto !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 24px rgb(85 118 202 / 10%) !important;
}

.chosen-container-active .chosen-drop {
    filter: drop-shadow(0px 8px 8px rgba(45, 48, 58, 0.06)) !important;
}

.chosen-drop {
    background: #fff !important;
    outline: none !important;
    border: none !important;
    font-family: 'ubuntu' !important;
    box-shadow: none !important;
}

.chosen-container .chosen-results li {
    padding: 10px 15px !important;
    border-radius: 5px;
}

.chosen-container .chosen-results li:hover {
    background: #006699 !important;
}

.chosen-container .chosen-results li.highlighted {
    background: #006699 !important;
}

.search-choice {
    background: #006699 !important;
    color: #fff !important;
    outline: none !important;
    border: none !important;
    border-radius: 0 !important;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    color: #fff !important;
    font-size: 12px !important;
    top: 7px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close::after {
    font-family: 'icomoon';
    content: "\ea11";
    color: #fff;
}

.chosen-container-single .chosen-single div b {
    font-size: 12px !important;
    color: #999;
    padding-top: 8px;
}

.chosen-container-single .chosen-single div b::after {
    font-size: 14px !important;
    font-family: 'icomoon';
    content: "\e92e";
    color: #006699;
}

.chosen-search-input {
    padding: 10px 15px !important;
}

.chosen-choices {
}

.chosen-choices input {
    padding: 0 !important;
    font-family: 'ubuntu' !important;
    color: rgb(130, 140, 155) !important; 
}

.chosen-container-multi.chosen-with-drop.chosen-container-active .chosen-drop {
    padding: 4px !important;
}

.search-choice {
    border-radius: 4px !important;
    padding: 7px !important;
    padding-right: 20px !important;
    border: none !important;
    outline: none !important;
}

.inputgroup {
    margin-bottom: 20px;
}

.inputgroup:last-child {
    margin-bottom: 0;
}

.inputgroup_icon {
    position: relative;
}

.inputgroup_icon input {
    padding-left: 38px;
}

.inputgroup_icon i {
    position: absolute;
    font-size: 1em;
    left: 10px;
    bottom: calc(50% - 1.2em);
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 20px;
}

.checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.checkbox_radio+label::before {
    border-radius: 50%;
}

.checkbox:checked+label::before {
    border-color: #006699;
    background-color: #006699;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.checkbox:disabled+label::before {
    background-color: #e9ecef;
}

.inputrow {
    display: flex;
    margin: 0 -5px;
    flex-flow: row nowrap;
}

.inputrow .inputgroup {
    margin: 0 5px;
    margin-bottom: 20px;
    flex: 1;
}

/* ------------------- */


.navigation {
    background: #fff;
    box-shadow: 0 4px 24px rgb(85 118 202 / 10%);
    padding: 20px 0;
}

.navigation__wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    color: #006699 !important;
}

.logout {
    display: inline-block;
    padding: 14px 18px;
    border-radius: 10px;
    background: #f9f9f9;
    color: #22222e !important;
    outline: none !important;
    font-family: 'ubuntu' !important;
    border: none !important;
    cursor: pointer;
    transition: all 0.1s ease;
    font-size: 0.8em;
}

.form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 24px rgb(85 118 202 / 10%);
    background: #fff;
    margin-bottom: 20px;
}

.form__header {
    margin-bottom: 30px;
    font-weight: bold;
}

.surv_require {
    color: #adb5bd;
    font-size: 0.8em;
    margin-left: 20px;
}

.surv_ans_list .inputgroup {
    margin: 0px 0;
}

.surv_ans_list {
    padding: 10px;
    border: 1px solid #f9f9f9;
    margin-bottom: 20px;
    border-radius: 8px;
}

.survey {
    background-color: #fff;
    padding: 12px 18px;
    box-shadow: 0 4px 24px rgb(85 118 202 / 10%);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.survey__id {
    width: 120px;
    margin: 0 10px;
}

.survey__link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 -5px 0 0;
}

.survey__link .btn {
    margin: 0 5px;
}

.survey__name {
    flex: 1;
    margin: 0 10px;
}

.answer {
    background: #fff;
    padding: 15px 18px;
    border-radius: 10px;
    box-shadow: 0 4px 24px rgb(85 118 202 / 10%);
    font-family: 'ubuntu';
}