{% extends 'surveys/base.html' %}
{% load static %}

{% block content %}
<h1>Create survey</h1>
<h4>Hello, {{request.user.email}}</h4>

<form action="" method="post" id="survey_form">
    {% csrf_token %}
    <label for="">Название</label> <br>
    <input type="text" name="name"> <br>
    <label for="">Описание</label> <br>
    <textarea name="text" id="" cols="70" rows="5"></textarea>

<div class="elements">
    <div class="element">
        <input type="hidden" name="el_id_0" value="0">
        <label for="el_name">Вопрос</label>
        <input type="text" name="el_name_0" id="">
        <select name="el_type_0" class="" id="" onchange="changeElement(event)">
            <option value="one_in_list">Один из списка</option>
            <option value="many_in_list">Неколько из списка</option>
            <option value="string" selected>Строка</option>
            <option value="textarea">Текст с абзацами</option>
            <option value="range">Шкала</option>
        </select>
        <label for="">Обязательное поле</label>
        <input type="checkbox" name="el_required_0" value="1">
    </div>
</div>
</form>
<button id="add_element">Добавить вопрос</button>
<br>
<button type="submit" form="survey_form">Сохранить</button>


{% endblock %}

{% block scripts %}
<script src="{% static 'js/create_survey.js' %}"></script>
{% endblock %}