{% extends 'surveys/base.html' %}

{% block content %}
<h1>Index page</h1>
<h4>Hello, {{request.user.email}}</h4>
<a href="{% url 'surveys:create_survey' %}">Создать опрос</a>
<h4>Ваши опросы</h4>
{% for survey in surveys %}
<h5>Опрос #{{survey.id}}</h5>
<p>{{survey.name}}</p>
<p>Пройти по ссылке: <a href="{% url 'surveys:survey_passing_by_url' survey.uuid %}">Тык</a> </p>
<p>Статистика: <a href="{% url 'surveys:survey_statistic' survey.pk %}">Тут</a> </p>
{% endfor %}
{% endblock %}