{% extends 'surveys/base.html' %}

{% block content %}
<div class="section">
    <div class="container">
        <h1>Опрос "{{object.name}}"</h1>
        <h4>Приветствуем, {{request.user.first_name}} {{request.user.last_name}}!</h4>
        <br>
        <p>{{object.description}}</p>
    </div>
</div>
<div class="section">
    <div class="container">
        <form action="" method="post" id="pass_survey" class="form">
            {% csrf_token %}
            <div class="inputgroup">
                {% for prop in object.element_set.all %}
                    <label for="">
                        {{prop.name}} {% if prop.file %} <a href="{{prop.file.url}}">(Открыть файл)</a> {% endif %}
                        {% if prop.required %}
                            <span class="surv_require">Обязательное поле</span>
                        {% endif %}
                    </label>
                    {% if prop.type == 'one_in_list' %}
                        <div class="surv_ans_list">
                            {% for val in prop.get_text_values %}
                                <div class="inputgroup">           
                                    <input type="radio" name="prop_{{prop.id}}" id="prop_{{prop.id}}_{{forloop.counter}}" value="{{val}}" required class="checkbox checkbox_radio">
                                    <label for="prop_{{prop.id}}_{{forloop.counter}}">{{val}}</label>
                                </div>
                            {% endfor %}
                        </div>
                    {% elif prop.type == 'many_in_list' %}
                    <div class="checkbox-group required">
                        <div class="surv_ans_list">
                            {% for val in prop.get_text_values %}
                                <div class="inputgroup">
                                    <input type="checkbox" name="prop_{{prop.id}}" id="prop_{{prop.id}}_{{forloop.counter}}" value="{{val}}" class="checkbox">
                                    <label for="prop_{{prop.id}}_{{forloop.counter}}">{{val}}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% elif prop.type == 'string' %}
                        <div class="inputgroup">
                            <label for="prop_{{prop.id}}">{{val}}</label>
                            <input type="text" name="prop_{{prop.id}}" id="prop_{{prop.id}}" value="" required>      
                        </div>
                    {% elif prop.type == 'textarea' %}
                        <div class="inputgroup">
                            <label for="prop_{{prop.id}}">{{val}}</label>
                            <textarea cols="60" rows="3" name="prop_{{prop.id}}" id="prop_{{prop.id}}" required></textarea>
                        </div>
                    {% elif prop.type == 'range' %}
                    <label for="">{{val}}</label>
                        <div class="surv_ans_list">
                            {% for val in prop.get_range_iter %}
                                <div class="inputgroup">
                                    <input type="radio" name="prop_{{prop.id}}" id="prop_{{prop.id}}_{{forloop.counter}}" value="{{val}}" required class="checkbox checkbox_radio">
                                    <label for="prop_{{prop.id}}_{{forloop.counter}}">{{val}}</label>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="inputgroup">
                <button class="btn" type="submit">Отправить</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
<!-- <script>
    $('#pass_survey').on('submit', function(){
        if ($('div.checkbox-group.required :checkbox:checked').length > 0) {
            return true
        }
        else {
            alert('заполните все важные поля')
            return false
        }
    })
    
</script> -->
{% endblock %}